#Eclipse
.settings/
/consola/Debug/
/kernel/Debug/
/cpu/Debug/
/fileSystem/Debug/
/memoria/Debug/
/shared/Debug/
/fileSystem/cfg/fcb/
*.dat

#Logs
kernel/logs.txt
kernel/Debug/logs.txt
cpu/logs.txt
cpu/Debug/logs.txt
memoria/logs.txt
memoria/Debug/logs.txt
consola/logs.txt
consola/Debug/logs.txt
fileSystem/logs.txt
fileSystem/Debug/logs.txt

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.metadata/
